* {
    margin: 0;
}

body {
box-sizing: border-box;
font-family: "Bai Jamjuree";
}

.f_container .parent {
    background-image: url(../image/bg-header-desktop.png);
    background-size: cover;
    height: 363px;
    background-repeat: repeat-x;
    
}

.f_container {
    
    background-color: rgba(0, 0, 0, 0.0001);
    position: relative;
    height: 500px;
}

.s_container {
    display: flex;
    margin: 0 auto;
    display: flex;
    width: 850px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;

}

svg {
   
    right: 45%;
    top: 20%;
}

.f_container .first {
    
    right: 28%;
    top: 65%;
    font-weight: 600;
    font-size: 39px;
    color: hsl(210, 10%, 33%);

}
.f_container .second{
   
    right: 27%;
    top: 83%;
    font-weight: 400;
    font-size: 18px;
    width: 630px;
    text-align: center;
    color: hsl(201, 11%, 66%);
}


.button_container {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    flex-wrap: wrap;
}

button {
   
    width:200px;
    height:50px;
    border-radius: 20px;
   

}
.f_container .b_first {
    background-color: hsl(171, 66%, 44%);
    text-align: center;
    right: 55%;
    top: 100%;
    border-color: hsl(171, 66%, 44%);
    flex-shrink: 1;
}
.f_container .b_second {
    background-color: hsl(233, 100%, 69%);
    text-align: center;
    right: 28%;
    top: 100%;
    border-color: hsl(233, 100%, 69%);
   
}

.third_container {
    display: flex;
    width: 850px;
    height: 150px;
    margin: 100px auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ////////////////////////////forth sectoin */

.forth_container {
    display: block;
    position: absolute;
    top: 110%;
    width: 1520px;
}

 .forth_container h3 {
    display: inline-block;
    position: absolute;
    top: 55px;
    right: 544px;
    color: hsl(210, 10%, 33%);
 }
 .forth_container p {
    display: inline-block;
    position: absolute;
    top: 92px;
    right: 325px;
    width: 335px;
    color: hsl(201, 11%, 66%);
 }

 .forth_container .f_title {
    top: 55px;  
 }

 .forth_container .f_sup {
    top: 90px;
 }
 .forth_container .s_title {
    top: 185px;
    right: 553px;
}

.forth_container .s_sup {
    top :219px
}
 .forth_container .th_title {
    top: 303px;
    right: 508px;
}

.forth_container .th_sup {
    top :339px
}

/* ////////////////////////fifth section */

.fifth_container {
    display: block;
    position: absolute;
    top: 220%;
    right: 300px;
    text-align: center;
}

.fifth_container .f_title {
    font-size: 39px;
    color: hsl(210, 10%, 33%);
    margin-bottom: 18px;
    font-weight: bold;
}

.fifth_container .f_sup {
    color: hsl(201, 11%, 66%);
    font-size: 18px;
    margin-bottom: 185px;
}
.fifth_container .s_title {
    font-size: 39px;
    color: hsl(210, 10%, 33%);
    margin-bottom: 18px;
    font-weight: bold;
}

.fifth_container .s_sup {
    color: hsl(201, 11%, 66%);
    font-size: 18px;
    margin-bottom: 185px;
}



/* /////////////////////////sixth section  */
.sth_container {
    display: flex;
    position: absolute;
    top: 370%;
    text-align: center;
    right: 178px;
    width: 1200px;
    justify-content: space-around;
    
}

.sth_container .f_child .title {
 
    color: hsl(210, 10%, 33%);
    margin: 18px 0 18px 0;
    font-weight: bold;
}
.sth_container .f_child .sup {
    width: 370px;
    color: hsl(201, 11%, 66%);
    /* margin-bottom: 18px; */
    font-weight: bold;
}

/* ////////////////////////second child of container ///////////////////////// */
.sth_container .s_child .title {
 
    color: hsl(210, 10%, 33%);
    margin: 18px 0 18px 0;
    font-weight: bold;
}
.sth_container .s_child .sup {
    width: 370px;
    color: hsl(201, 11%, 66%);
    /* margin-bottom: 18px; */
    font-weight: bold;
}
/* ////////////////////////////third child////////// */
.sth_container .th_child .title {
 
    color: hsl(210, 10%, 33%);
    margin: 18px 0 18px 0;
    font-weight: bold;
}
.sth_container .th_child .sup {
    width: 370px;
    color: hsl(201, 11%, 66%);
    /* margin-bottom: 18px; */
    font-weight: bold;
}

/* /////////////////////////logo container//////////// */
.logo_container {
    display: flex;
    position: absolute;
    top: 417%;
    text-align: center;
    right: 178px;
    width: 1200px;
    justify-content: space-around;
    height: 32px;
}



 .sev_container {
    display: flex;
    position: absolute;
    top: 460%;
    width: 850px;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    height: 400px;
    align-items: center;
    right: 345px;
    /* margin: 0 auto;
    display: flex;
   
   
    
    
     */
} 
.sev_container .b_first {
    background-color: hsl(171, 66%, 44%);
    text-align: center;
    right: 55%;
    top: 100%;
    border-color: hsl(171, 66%, 44%);
    flex-shrink: 1;
}
.sev_container .b_second {
    background-color: hsl(233, 100%, 69%);
    text-align: center;
    right: 28%;
    top: 100%;
    border-color: hsl(233, 100%, 69%);
   
}
.sev_container .first {
    
    right: 28%;
    top: 65%;
    font-weight: 600;
    font-size: 39px;
    color: hsl(210, 10%, 33%);

}
.sev_container .second{
   
    right: 27%;
    top: 83%;
    font-weight: 400;
    font-size: 18px;
    width: 630px;
    text-align: center;
    color: hsl(201, 11%, 66%);
}

/* ///////////////////////////////footer//////////////// */
.footer {
    position: absolute;
    top: 550%;
    width: 1530px;
    height: 125px;
    background-color:hsl(201deg 11% 66% / 20%);
    display: flex;
    justify-content: center;
}
.footer .container {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    align-items: center;
    overflow: hidden;
}
.footer .m_logo {
    
    width: 100px;
    

}

.footer .first {
    display: flex;
    flex-direction: column;
    color: hsl(218deg 13% 55%);
    
}
.footer .second {
    display: flex;
    flex-direction: column;
    color: hsl(218deg 13% 55%);
}
.footer .third {
    display: flex;
    flex-direction: column;
    color: hsl(218deg 13% 55%);
}



.footer .logo {
    display: flex;
    justify-content: space-evenly;
    width:130px;
    font-size: 22px;
  
}
/* /////////////////////////////////media query///////////////// */

 @media (min-width:375px)and (max-width:767px) {

    .f_container .parent {
        
    
    height: 363px;
    width: 421px;
    

    }
    
    .f_container .parent .s_container {
        width:375px;
        display: flex;
        margin: 0 auto;
        height: 500px;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        justify-content: space-evenly;
    }

    /* /////////////////////for buttons////////////// */
     .button_container {
        flex-direction: column;
        width: inherit;
        flex-direction: column;
        display: flex;
        align-content: space-around;
        justify-content: space-between;
        height: 125px;
}
    .f_container .s_container .first {
        font-size: 21px;
        width: 205px;
        text-align: center;
    }
    .f_container .second {
        font-size: 15px;
        width: 325px;
    }

    .f_container .parent .third_container {
        width: 205px;
        
    }
    .f_container .parent .third_container .mid {
        font-size: 23px;
        text-align: center;
    }

    .f_container .parent .third_container .s_mid {
        font-size: 15px;
        width: 280px;
    }
    /* ////////////////////4th container///////////// */
    .forth_container {
        display: flex;
        flex-direction: column;
        width: 379px;
        top: 100%;
        left: 47px;
        text-align: center;
        justify-content: space-between;
        height: 600px;

    }

    .forth_container h3 , .forth_container p ,.forth_container img{
        position: initial;
        text-align: center;
        width: 305px;
    }

 /* ///////////////////////5th container////////////////// */

    .fifth_container {
        width: 379px;
        display: flex;
        flex-direction: column;
        top: 195%;
        height: 500px;
        left: 13px;
        justify-content: space-between;
        align-items: center;
    }
    .fifth_container p ,.fifth_container img {
        margin-bottom: 0 !important;
        text-align: center;
        width: 305px;
        
    }

    .fifth_container .f_title , .fifth_container .s_title {
        font-size: 20px;
        text-align: center;
        width: 252px;
    }
    .fifth_container .f_sup, .fifth_container .s_sup {
        font-size: 15px;
        width: 300px;
        text-align: center;
    }
    /* ///////////////////////6th container////////////////// */

    .sth_container {
        flex-direction: column;
        font-size: 15px;
        top: 268%;
        left: 13px;
        right: auto;
        width: 379px;
        height: 470px;
    }
    .sth_container .f_child  ,.sth_container .s_child ,.sth_container .th_child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* ///////////////////logo container/////////////// */
    .logo_container {
        display: flex;
        flex-direction: column;
        width: 150px;
        top: 340%;
        height: 437px;
        left: 125px;
    }

    /* //////////////////////7th container///////// */

    .sev_container {
        text-align: center;
        display: flex;
        flex-direction: column;
        top: 405%;
        left: 13px;
        align-items: center;
        width: 379px;
        justify-content: space-between;
        height: 290px;

    }
    .sev_container .first {
        width: 325px;
        font-size: 20px;

    }

    .sev_container .second {
        width: 325px;
        font-size: 15px;
    }
/* ////////////////////footer///////////// */
    .footer {
        width: 410px;
        display: flex;
        flex-direction: column;
        height: 600px;
       
    }

    .footer .container {
        flex-direction: column;
        height: 600px;
        width: 390px;
    }
}

